/*
 * Globals
 */

body {
  width: 100%;
  height: 100%;
  margin:0;
  background-color: #CFCFC4;
  background-size: 100%;


  font-family: "Helvetica Neue", Helvetica, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-weight: normal;
  color: #333;
  margin-top: 0;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav {

}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  border-right:  5px solid transparent;
  border-left:   5px solid transparent;
  border-bottom: 5px solid;
}



/***************/
#mid {
  position:absolute;
  top:200px;
  left:50%;
  margin-left:-250px;
  width:500px;
}

#intro {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  padding:20px;
  text-align:center;
  line-height:1.5em;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  position:relative;
  top:0;
  font-size: 30pt;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#intro strong {
    font-family:"Helvetica Neue", Helvetica;
  color: #333; 
  background-color:#CFCFC4;
}

#intro em {
  color: #333;
  font-family: 'Give You Glory', cursive;
  background-color:#CFCFC4;
}

#mid:hover #intro, #intro.hover {
  top:-12px;
  margin-bottom:15px;
}

#resume {
  font-size:11px;
  padding:0 5px;
  text-align:center;
  position:relative;
  top:-46px;
  z-index:-1;
  font-family:Helvetica,sans-serif;
  letter-spacing: 0.5pt;
}

#links {
  position:absolute;
  top:375px;
  left:50%;
  margin-left:-250px;
  width:500px;
  text-align:center;
}

#mid a:link, #mid a:visited, #mid a:active {
  text-decoration:none;
  color:black;
}

.social a:link, .social a:visited, .social a:active {
  text-decoration:none;
  color:black;
}

#socials {
  font-size: 13px;
}
.social a:link, .social a:visited {
  color:black;
  padding: 0.69em 0.35em 0.25em 0.50em;
}
.social i {
  font-size: 20px;
}
.social {
  display:inline-block;
}
.social a:hover {
  border-bottom:1px solid #666;
}



/*******************************/


/*
 * Table for classees
 */
.courses {
  padding-top: 30px;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

