/* style for the homepage */

/* Header of the homepage */
#top{
  z-index: 10;
  background-color: #779ECB;
  position: fixed;
	height: 15%;
	width: 100.7%;
	top: -10px;
	left: -10px;
}

/* Div for the name */
#top-left{
  float: left;
}

/* Div for the links */
#top-right{
  float: right;
}

/* Formatting for/home link */
#home-link{
	text-decoration: none;
	
	z-index: 2;
  position: relative;
  top: 40px;
  left: 350px;

  
  text-decoration: none;
  font-weight: bold;
  font-family: Papyrus, fantasy;
  font-size: 50px;
  color: #F0F0F0;
}

/* Placement of the links */
#top-links{
  z-index: 3;
  
  margin-top: 60px;
  margin-right: 350px;
}

.bars{
  text-decoration: none;
	font-family: Verdana, sans-serif;
  font-weight: bold;
	font-size: 18px;
	color: #F0F0F0;
}

#resume-link{
	text-decoration: none;
	font-family: Verdana, sans-serif;
  font-weight: bold;
	font-size: 18px;
	color: #F0F0F0;
}

#soon-link{
	text-decoration: none;
	font-family: Verdana, sans-serif;
  font-weight: bold;
	font-size: 18px;
	color: #F0F0F0;
}


#middle{
  /*background-color: #CFCFC4;*/
  width: 110%;
  height: 100%;
  left: -10px;
  position: fixed;
} 

#middle-left{
  float: left;
}

#middle-right{
  float: right;
}

#pic{
  margin-left: 250px;
  margin-top: 120px;
}

#greeting{
  
}

#bottom{
  background-color: #FFB347;
  width: 100.7%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: -10px;
} 

#bottom-left{
  float: left;
}

#bottom-right{
  float: right;
}

#social{
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 30px;

}

#social-title{
  text-align: left;
  color: #403380;
  font-family: Avantgarde;
}

#copyright{
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: 30px;
  margin-right: auto; 
  
  color: #403880;
  font-family: Avantgarde;

}

#copyright2{
  margin-top: 5px;
  margin-bottom: auto;
  margin-left: 30px;
  margin-right: auto;
  
  color: #403880;
  font-family: Avantgarde;
}